.rolling-reader {
  width: 100%;
  height: 35rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #2a2b43;
  padding: 0 4rem;
  border-radius: 16px;
  position: relative;

  &-content {
    position: relative;
  }
}
.fullscreen {
  .rolling-reader {
    width: 80%;
  }
}
@keyframes rollDown {
  0% {
    top: -100%;
    // opacity: 0;
  }
  25% {
    top: 0;
  }
  50% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

.rolling-exit {
  opacity: 0;
}
.rolling-enter {
  transform: translateY(50%);
}
.rolling-enter-active {
  transform: translateY(0);
}

.small .rolling-reader {
  width: 90%;
  height: 16em;
}
