.scroll-reader {
  width: 30em;
  height: 40em;
  padding: 0 2em 1em;
  margin: auto;
  font-size: $f-size;
  border: 0.0125rem solid #585a5c;
  display: flex;
  justify-content: center;
  overflow: hidden;

  &-content {
    position: relative;
    & > div {
      height: 1.5em;
      font-size: 1em;
      // margin-bottom: 0.5em;
    }
  }
}

.small .scroll-reader {
  width: 100%;
  height: 16em;
}
