.scroll-reader {
  width: 50em;
  height: 45em;
  padding: 0 4rem;
  margin: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;

  background: #2a2b43;
  border-radius: 16px;

  &-content {
    position: relative;
  }
}

.small .scroll-reader {
  width: 100%;
  height: 16em;
}
#speed-animation-view {
  border-radius: 0.75rem;
  margin-top: 1rem;
  background: url(/metal-square.png) center center;
  object-fit: fill;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}
