@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
html {
  font-family: 'Gilroy', sans-serif;
  font-size: 1vw;
}

body {
  min-height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

pre {
  // font-family: 'Droid Sans Mono';
  // font-family: 'IBM Plex Mono';
  // font-family: 'Roboto Mono';
  // // font-family: 'Source Code Pro';
  font-family: 'Inconsolata';
  // font-family: 'Gilroy', sans-serif !important;
  margin: 0;
  white-space: pre-wrap;
}

@import './ui.scss';

.page-wrapper {
  display: flex;
  min-height: 100vh;

  .page-content {
    width: calc(100% - 4.5rem);
    background: url('/theme-1-min.png') center no-repeat;
    background-size: cover;
    padding: 2rem 4rem;
    max-height: 100vh;
    overflow: auto;
  }
}

.navigation {
  background: url('/navigation.png') center no-repeat;
  background-size: cover;
  width: 4.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3.625rem 0.5rem;
  gap: 1rem;

  &__link {
    width: 3.5rem;
    height: 3.5rem;
    background: url('/button.png') center no-repeat;
    background-size: cover;
    transition: all 0.3s;
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(180deg, #c9c9c9 0%, #f8f8f8 100%);
      border: 1px solid #ffffff;
      width: 2.625rem;
      height: 2.625rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    svg {
      position: relative;
    }
    path,
    rect {
      transition: all 0.3s;
    }

    &.active {
      path,
      rect {
        fill: #1893d5;
      }
    }
    &:hover {
      path,
      rect {
        fill: #1893d5;
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;

  &__logo {
    width: 19.5rem;
  }

  &-left {
    &-top {
      display: flex;
      align-items: flex-end;
      gap: 2.5rem;

      .select-wrapper {
        width: 14.25rem;
      }
    }

    &-checkboxes {
      display: flex;
      margin-bottom: 0.75rem;

      .checkbox-wrapper {
        color: #fff;
        padding-right: 1rem;
        margin-right: 1rem;
        border-right: 1px solid #ffffff;

        &:last-child {
          border: none;
        }
      }
    }

    &__label {
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.375rem;
      color: #ffffff;
      margin-bottom: 0.75rem;
    }

    &__title {
      color: #ffffff;
      margin-top: 3.5rem;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}

.page-loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(42, 43, 67);
  .dots-bars-1 {
    width: 40px;
    height: 40px;
    color: #fff;
    --c: linear-gradient(currentColor 0 0);
    --r1: radial-gradient(farthest-side at bottom, currentColor 93%, #fff);
    --r2: radial-gradient(farthest-side at top, currentColor 93%, #fff);
    background: var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2),
      var(--c), var(--r1), var(--r2);
    background-repeat: no-repeat;
    animation: db1 1s infinite alternate;
  }

  @keyframes db1 {
    0%,
    10% {
      background-size: 8px 0, 8px 4px, 8px 4px;
      background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px), 50% 50%,
        50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px),
        100% calc(50% + 2px);
    }
    90%,
    100% {
      background-size: 8px 100%, 8px 4px, 8px 4px;
      background-position: 0 50%, 0 -2px, 0 calc(100% + 2px), 50% 50%, 50% -2px,
        50% calc(100% + 2px), 100% 50%, 100% -2px, 100% calc(100% + 2px);
    }
  }
}

@import './reader/index.scss';
@import './auth.scss';
@import './training.scss';
@import './testing.scss';
