.scroll-reader {
  width: 40em;
  height: 25em;
  padding: 1em 2em;
  margin: auto;
  font-size: $f-size;
  border: 0.0125rem solid #585a5c;
  display: flex;
  justify-content: center;
  overflow: hidden;

  &-content {
    position: relative;
    transition-timing-function: linear;

    & > div {
      font-size: 1em;
      height: 1em;
      margin-bottom: 0.5em;
    }
  }
}
