.custom-form {
  background: #f0f0f0;
  min-height: 100vh;
  padding: 32px;
}
.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.form-row .form-label {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}
.form-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
input[type='color'] {
  padding: 0;
  border: none;
}
.btn-icon {
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 8px;
}
.btn-icon.active {
  background: var(--bs-info);
}

body {
  font-family: 'Open Sans', sans-serif !important;
  min-height: 100%;
}
#reader-view {
  background: #f0f0f0;
  width: 100%;
  margin: auto;
}

#reader-view.zoom-reader {
  height: 70px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.book-reader {
  border: 1px solid grey;
  min-height: 650px;
  max-height: 650px;

  display: flex;
  flex-wrap: wrap;
  padding: 1px 2px;
  position: relative;
}
.book-reader-page {
  position: absolute;
  border: 1px solid grey;
  width: 50%;
  height: calc(100% - 4px);
  padding: 8px;
  top: 2px;
}
.book-reader-page:nth-child(odd) {
  left: 2px;
}
.book-reader-page:nth-child(even) {
  right: 2px;
}
.book-reader-page:nth-child(3),
.book-reader-page:nth-child(4) {
  transform: translateZ(-50%);
  opacity: 0;
}

.book-reader-page span {
  transition: all 0.3s;
}
